<div class="container">
    <h1>More resources</h1>

    <div class="wrapper">
      <div class="listWrapper">
        <h3>Sites</h3>
        <ul>
          <li>
            <a href="http://blacklivesmatters.carrd.co/" target="_blank">
              blacklivesmatters.carrd.co
            </a>
          </li>
          <li>
            <a href="https://www.grassrootslaw.org/" target="_blank">
              Grassroots Law
            </a>
          </li>
          <li>
            <a href="https://www.staywoke.org/" target="_blank">
              Stay Woke
            </a>
          </li>
          <li>
            <a href="https://www.votesaveamerica.com/" target="_blank">
              Vote Save America
            </a>
          </li>
          <li>
            <a href="https://linktr.ee/southasians4blacklives" target="_blank">
              South Asians 4 Black Lives
            </a>
          </li>
        </ul>
      </div>
      <div class="listWrapper">
        <h3>Instagram accounts</h3>
        <ul>
          <li>
            <a href="https://www.instagram.com/bldpwr/" target="_blank">
              Build Power
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/blklivesmatter/" target="_blank">
              Black Lives Matter
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/asiansforblacklivesmatter/" target="_blank">
              Asians For Black Lives Matter
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/southasians4blacklives/" target="_blank">
              South Asians 4 Black Lives
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
