
  <!-- header -->
  <nav>
    <mat-toolbar>
      <fa-icon [icon]="handRock"></fa-icon>
      <span>
        Just Imagine It
      </span>
      <mat-menu>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
      </mat-menu>
    </mat-toolbar>
  </nav>
  
  <!-- routes will be rendered here -->
  <router-outlet></router-outlet>
  
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>

  <!-- footer -->
  <footer class="footer">
    <mat-toolbar>
      <div class="container">
        <div class="content has-text-centered">
          <p>
            Made with <3 by <a href="https://twitter.com/pattishin">Patti Shin</a>
          </p>
        </div>
      </div>
    </mat-toolbar>
  </footer>