
  <!-- header -->
  <nav>
    <mat-toolbar>
      <a routerLink="/" routerLinkActive="active">
        <fa-icon [icon]="helpingHands"></fa-icon>
      </a>
      <span>
        just imagine it.
      </span>
    </mat-toolbar>
  </nav>
  

  <!-- Body -->

  <main class="mainContent">
    <div class="navigation">
      <mat-sidenav-container>
        <mat-sidenav-content>
          <a mat-button routerLink="/donate" routerLinkActive="active">Donate</a>
        </mat-sidenav-content>
        <mat-sidenav-content>
          <a mat-button routerLink="/support" routerLinkActive="active">Support</a>
        </mat-sidenav-content>
        <mat-sidenav-content>
          <a mat-button routerLink="/education" routerLinkActive="active">Education</a>
        </mat-sidenav-content>
        <mat-sidenav-content>
          <a mat-button routerLink="/blmfollow" routerLinkActive="active">#blacklivesmatter</a>
        </mat-sidenav-content>
      </mat-sidenav-container>
      <div class="footer">
        <span>Made with </span><fa-icon [icon]="heart"></fa-icon>
      </div>
    </div>
    <div>
      <!-- routes will be rendered here -->
      <router-outlet></router-outlet>
    </div>
  </main>