
  <!-- header -->
  <div class="header">
    <mat-toolbar>
      <div class="headerLogo">
        <a routerLink="/" routerLinkActive="active">
          <fa-icon [icon]="helpingHands"></fa-icon>
        </a>
      </div>
      <span>
        just imagine it.
      </span>
    </mat-toolbar>
  </div>
  

  <!-- Body -->

  <main class="mainContent">
    <div class="navigation">
      <mat-sidenav-container>
        <mat-sidenav-content>
          <a mat-button routerLink="/donate" routerLinkActive="active">Donate</a>
        </mat-sidenav-content>
        <mat-sidenav-content>
          <a mat-button routerLink="/education" routerLinkActive="active">Education</a>
        </mat-sidenav-content>
        <mat-sidenav-content>
          <a mat-button routerLink="/resources" routerLinkActive="active">Resources</a>
        </mat-sidenav-content>
        <mat-sidenav-content>
          <a mat-button routerLink="/blmfollow" routerLinkActive="active">#blacklivesmatter</a>
        </mat-sidenav-content>
      </mat-sidenav-container>
      <div class="navFooter">
        <span>Made with </span><fa-icon [icon]="heart"></fa-icon>
      </div>
    </div>
    <div class="contentWrapper">
      <!-- routes will be rendered here -->
      <div class="routerContent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
