.container {
    margin: 20px;
}

.blockquote {
  text-align: center;
}

.blockquoteFooter{
  &:before {
    content:'-'
  }

  text-align: center;
  color: #6c757d;
}

mat-grid-tile {
    background: lightblue;
}

