<div class="container">
  <blockquote class="blockquote">
    <p>Somewhere off in outer space</p>
    <p>There's a world, no wars, no hate</p>
    <p>Where all the broken hearts are safe</p>
    <p>I don't know where it is</p>
    <p>I just imagine it</p>
    <footer class="blockquoteFooter">
      MKTO
      <cite title="Source Title">Just Imagine It</cite>
    </footer>
  </blockquote>
  
  <div class="wrapper">
    <div class="listWrapper">
      <div class="gridWrapper">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>1</mat-grid-tile>
          <mat-grid-tile>2</mat-grid-tile>
          <mat-grid-tile>3</mat-grid-tile>
          <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>
